@font-face {
	font-family: 'SpoqaHanSansNeo';
	src: url('/SpoqaHanSansNeo-Bold.woff2') format('woff2');
	font-weight: 700;
	font-style: normal;
}

@font-face {
	font-family: 'SpoqaHanSansNeo';
	src: url('/SpoqaHanSansNeo-Light.woff2') format('woff2');
	font-weight: 300;
	font-style: normal;
}

@font-face {
	font-family: 'SpoqaHanSansNeo';
	src: url('/SpoqaHanSansNeo-Medium.woff2') format('woff2');
	font-weight: 600;
	font-style: normal;
}

@font-face {
	font-family: 'SpoqaHanSansNeo';
	src: url('/SpoqaHanSansNeo-Regular.woff2') format('woff2');
	font-weight: 500;
	font-style: normal;
}

@font-face {
	font-family: 'SpoqaHanSansNeo';
	src: url('/SpoqaHanSansNeo-Thin.woff2') format('woff2');
	font-weight: 400;
	font-style: normal;
}

:root {
	--font-body: 'SpoqaHanSansNeo';
	--color-bg: #F1F2F4;
	--color-text: #33363F;
	--highlight-color: #5447E5;
	--positive-color: rgb(152, 192, 57);
	--negative-color: rgb(212, 60, 54);
	--highlight-color-opa: rgba(84, 71, 229, .2);
	--highlight-color-deep-opa: rgba(84, 71, 229, .6);
	--positive-color-opa: rgba(152, 192, 57, .2);
	--negative-color-opa: rgba(212, 60, 54, .2);
	font-family: var(--font-body);
	color: var(--color-text);
}

body {
	min-height: 100vh;
	margin: 0;
	background-attachment: fixed;
	background-color: var(--color-bg);
	background-size: 100vw 100vh;

}

h1,
h2,
p {
	font-weight: 400;
}

p {
	line-height: 1.5;
}

a {
	color: var(--color-theme-1);
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

h1 {
	font-size: 2rem;
	text-align: center;
}

h2 {
	font-size: 1rem;
}

pre {
	font-size: 16px;
	font-family: var(--font-mono);
	background-color: rgba(255, 255, 255, 0.45);
	border-radius: 3px;
	box-shadow: 2px 2px 6px rgb(255 255 255 / 25%);
	padding: 0.5em;

	color: var(--color-text);
}

#chart svg {
	height: 30rem;
}


.text-column {
	display: flex;
	max-width: 48rem;
	flex: 0.6;
	flex-direction: column;
	justify-content: center;
	margin: 0 auto;
}

button {
	border: none;
	font-size: 2rem;
	font-family: var(--font-body);
	color: var(--color-text);
}

button:active {
	border: none;
	border-style: none;
}

button:focus:not(:focus-visible) {
	outline: none;
	border: none;
}

@media (min-width: 720px) {
	h1 {
		font-size: 2.4rem;
	}
}

.visually-hidden {
	border: 0;
	clip: rect(0 0 0 0);
	height: auto;
	margin: 0;
	overflow: hidden;
	padding: 0;
	position: absolute;
	width: 1px;
	white-space: nowrap;
}

.highlight-color {
	color: #5447E5;
}

.highlight-background-color {
	background-color: #5447E5;
}

.highlight-selected-background-color {
	background-color: rgba(84, 71, 229, 0.2);
}

.good-color {
	color: #98C039;
}

.bad-color {
	color: #D43C36;
}

.positive-text {
	color: #4F641A;
}

.negative-text {
	color: #D43C36;
}